<div class="container escpaio">
    <div class="row">
        <div class="col-6">
            <div class="desplazamiento">
                <h1 class="titulo1"> OCEANDEX</h1>
                <h2 class="titulo2">SOLO TU PUEDES SALVAR A TODOS</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <button class="botonIni">INFORMATE</button>
                        </div>
                        <div class="col-6">
                            <button class="botonIni">REPORTAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <img src="../../../../../assets/img/axoLogo.png">
        </div>
    </div>

</div>
<br>
<br>