
<h1 class="tituloR">REPORTE</h1>

<form action="#" enctype="multipart/form-data" target="_blank">

    <p class="modParrafo">

        Sube una imagen: <br>

        <input type="file" id="imgReport" name="imgReport" multiple accept="image/png, .jpeg, .jpg, image/gif">
        <br><br><google-map></google-map><br><br>
        <br><br><label>Estado en el que se encontro la especie</label><br>
       
        <br><select name="estado">
            <option value="no">Seleccione uno...</option>
            <option value="Vivo">Vivo</option>
            <option value="Enfermo">Enfermo</option>
            <option value="Muerto">Muerto</option>
        </select><br><br><br>

        <input type="submit" value="Subir imagen(s)">

    </p>

</form>