<div class="container">
    <div class="row">
        <div class="col-6">
            <app-interfaz></app-interfaz>
        </div>
        <div class="col-6">
            <div class="row p-5 overflow-auto caja">
                <div class="col-12">
                    <div class="d-grid gap-2">
                        <button class="btn rounded-pill bg-danger btn-lg">
                            <div class="row align-items-center">
                                <div class="col-4"> <img src="./../../../../../assets/img/axoLogo.png" style="width: 125px; height: 105px;" alt=""></div>
                                <div class="col-4">NOMBRE</div>
                                <div class="col-4">En existencia</div>
                            </div>
                        </button>
                    </div>

                    <br>
                </div>
                <div class="col-12">
                    <div class="d-grid gap-2">
                        <button class="btn rounded-pill bg-danger btn-lg">
                            <div class="row align-items-center">
                                <div class="col-4"> <img src="./../../../../../assets/img/axoLogo.png" style="width: 125px; height: 105px;" alt=""></div>
                                <div class="col-4">NOMBRE</div>
                                <div class="col-4">En existencia</div>
                            </div>
                        </button>
                    </div>

                    <br>
                </div>
                <div class="col-12">
                    <div class="d-grid gap-2">
                        <button class="btn rounded-pill bg-danger btn-lg">
                            <div class="row align-items-center">
                                <div class="col-4"> <img src="./../../../../../assets/img/axoLogo.png" style="width: 125px; height: 105px;" alt=""></div>
                                <div class="col-4">NOMBRE</div>
                                <div class="col-4">En existencia</div>
                            </div>
                        </button>
                    </div>

                    <br>
                </div>




            </div>
        </div>
    </div>
</div>